body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../欢迎页_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:720px;
    height:3px;
}

.u0 {
    position:absolute;
    left:0px;
    top:1280px;
    width:720px;
    height:10px;
    
}

.u1_line {
    background-image: url('../欢迎页_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:1280px;
}

.u1 {
    position:absolute;
    left:720px;
    top:0px;
    width:10px;
    height:1280px;
    
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1280px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1280px;
}

.u3 {
    position:absolute;
    left:2px;
    top:632px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1280px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

