body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1280px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:1280px;
}

.u1 {
    position:absolute;
    left:2px;
    top:632px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../主页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:50px;
    width:720px;
    height:96px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:102px;
}

.u3 {
    position:absolute;
    left:2px;
    top:40px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../主页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:145px;
    width:720px;
    height:900px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:906px;
}

.u5 {
    position:absolute;
    left:2px;
    top:442px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:25px;
    top:260px;
    width:671px;
    height:501px;
    overflow:hidden;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:671px;
    height:501px;
    
}

.u7_normal {
    background-image: url('../主页_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:15px;
    width:670px;
    height:100px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u8 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:670px;
    height:500px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:506px;
}

.u10 {
    position:absolute;
    left:2px;
    top:242px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:19px;
    top:27px;
    width:550px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:19px;
    top:66px;
    width:240px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../主页_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:130px;
    width:670px;
    height:100px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u14 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:300px;
    top:66px;
    width:240px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../主页_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:580px;
    top:24px;
    width:72px;
    height:72px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u17 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:18px;
    top:147px;
    width:550px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:18px;
    top:186px;
    width:240px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:300px;
    top:186px;
    width:240px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../主页_files/u16_normal.png');
}

.u21_container {
    position:absolute;
    left:580px;
    top:144px;
    width:72px;
    height:72px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u22 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:0px;
    top:245px;
    width:670px;
    height:240px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:246px;
}

.u24 {
    position:absolute;
    left:2px;
    top:112px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:20px;
    top:250px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:20px;
    top:290px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:20px;
    top:330px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:20px;
    top:370px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:20px;
    top:410px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:20px;
    top:450px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:350px;
    top:250px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:350px;
    top:290px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:350px;
    top:330px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:350px;
    top:370px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:350px;
    top:410px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:350px;
    top:450px;
    width:300px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../主页_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u37 {
    position:absolute;
    left:10px;
    top:490px;
    width:650px;
    height:10px;
    
}

#u38 {
    position:absolute;
    left:0px;
    top:16px;
    width:569px;
    height:99px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u39 {
    position:absolute;
    left:0px;
    top:130px;
    width:569px;
    height:99px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u40 {
    position:absolute;
    left:25px;
    top:290px;
    width:671px;
    height:621px;
    overflow:hidden;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:671px;
    height:621px;
    
}

.u41_normal {
    background-image: url('../主页_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:130px;
    width:670px;
    height:100px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u42 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../主页_files/u41_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:260px;
    width:670px;
    height:100px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u44 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../主页_files/u41_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:390px;
    width:670px;
    height:100px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u46 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../主页_files/u41_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:520px;
    width:670px;
    height:100px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u48 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:33px;
    top:166px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:33px;
    top:296px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:33px;
    top:426px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:33px;
    top:556px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../主页_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:580px;
    top:144px;
    width:72px;
    height:72px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u54 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../主页_files/u53_normal.png');
}

.u55_container {
    position:absolute;
    left:580px;
    top:274px;
    width:72px;
    height:72px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u56 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../主页_files/u53_normal.png');
}

.u57_container {
    position:absolute;
    left:580px;
    top:534px;
    width:72px;
    height:72px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u58 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../主页_files/u53_normal.png');
}

.u59_container {
    position:absolute;
    left:580px;
    top:404px;
    width:72px;
    height:72px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u60 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../主页_files/u41_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:670px;
    height:100px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u62 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:33px;
    top:36px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../主页_files/u53_normal.png');
}

.u64_container {
    position:absolute;
    left:580px;
    top:14px;
    width:72px;
    height:72px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u65 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:25px;
    top:80px;
    width:146px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../主页_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:1032px;
    width:720px;
    height:248px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:254px;
}

.u68 {
    position:absolute;
    left:2px;
    top:116px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../主页_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:1162px;
    width:360px;
    height:118px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:124px;
}

.u70 {
    position:absolute;
    left:2px;
    top:51px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:116px;
    top:1202px;
    width:129px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../主页_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:360px;
    top:1162px;
    width:360px;
    height:118px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:124px;
}

.u73 {
    position:absolute;
    left:2px;
    top:51px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:479px;
    top:1202px;
    width:122px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../主页_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:515px;
    top:1063px;
    width:180px;
    height:80px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u76 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u77 {
    position:absolute;
    left:25px;
    top:160px;
    width:671px;
    height:101px;
    overflow:hidden;
}

#pd1u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:671px;
    height:101px;
    
}

.u78_normal {
    background-image: url('../主页_files/u41_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:0px;
    width:670px;
    height:100px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u79 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:33px;
    top:36px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../主页_files/u53_normal.png');
}

.u81_container {
    position:absolute;
    left:580px;
    top:14px;
    width:72px;
    height:72px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u82 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:671px;
    height:101px;
    
}

.u83_normal {
    background-image: url('../主页_files/u41_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:0px;
    width:670px;
    height:100px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:106px;
}

.u84 {
    position:absolute;
    left:2px;
    top:42px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:33px;
    top:36px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../主页_files/u53_normal.png');
}

.u86_container {
    position:absolute;
    left:580px;
    top:14px;
    width:72px;
    height:72px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:72px;
}

.u87 {
    position:absolute;
    left:2px;
    top:28px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:25px;
    top:1086px;
    width:329px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../主页_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:1280px;
    width:720px;
    height:1000px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:1006px;
}

.u90 {
    position:absolute;
    left:2px;
    top:492px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u91 {
    position:absolute;
    left:0px;
    top:50px;
    width:190px;
    height:96px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

